@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center py-5">
    <h1 class="display-2">Python Developer</h1>
    <p>
        Aspiring backend developer specializing in Python frameworks such as Django and Flask, as well as ASP.NET.
    </p>
    <img class="about_me" src="~/img/yo.jpg" alt="About me profile" />
</div>

<div class="container pt-5">
    <img  class="img-fluid" src="~/img/hero-devices.svg" alt="Devices image" />
</div>
<div class="bg-purple text-white">
    <div class="container">
        <h2>Hi! My name is Pablo</h2>
        <p>I work as an engineer. I have a strong passion for technology and have a particular appreciation for Python's Django and Flask, as well as the wonders of ASP.NET Core. I enjoy using technology and programming to solve issues and build great things. I have a background in communications and electronics. I'm enthusiastic about working in teams, constantly curious to learn new things, and prepared to take on any challenge head-on. I'm the person you should contact if you're searching for someone who is passionate about creating useful tech solutions. With you, let's create something fantastic!</p>
    </div>
</div>